<html>

<head>
    <%- include('./partial/head.ejs')%>

        <style>
            .courses-area.section-gap {
                background-color: #37b3c5;
            }

            .courses-area.section-gap h1 {
                margin: 5px;
            }

            /* #btnCreateClass:hover {
                background: linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
            }
             */
        </style>
</head>

<body>

    <!-- Start Header Area -->
    <%- include('./partial/header.ejs')%>
        <!-- End Header Area -->

        <section class="courses-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            You are a student
                        </h1>
                        <div class="courses-right">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <ul class="courses-list student-list">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1>
                            You are a teacher
                        </h1>
                        <div class="courses-right">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <ul class="courses-list teacher-list">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 text-center">
                        <button id="btnCreateClass" class="btn btn-default" style="background-color: #f7fafc; margin: 15px">
                            Tạo lớp học mới
                        </button>
                    </div>
                </div>
            </div>
            <div id="mdCreateClass" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div style="width: 50%" class="modal-dialog modal-lg ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thêm lớp mới</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="mdAddDocumenttxtDocId" value="">
                            <div class="form-group">
                                <label for="">Tiêu đề</label>
                                <input id="mdTxtName" type="text" class="form-control" id="" aria-describedby="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Mô tả</label>
                                <input id="mdTxtDes" type="text" class="form-control" id="" aria-describedby="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Lớp học mở: </label>
                                <input id="mdToggleIsPublic" type="checkbox" checked data-toggle="toggle" data-onstyle="primary">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button id="mdCreateClassBtnAdd" type="button" class="btn btn-primary">Thêm lớp mới</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('./partial/footer.ejs')%>

            <script>
                var userInfo = {
                    id: '<%= user._id %>',
                };
            </script>

            <script src="/javascripts/classes.js "></script>
</body>

</html