<html>

<head>
    <%- include('./partial/head.ejs')%>

        <style>
            .courses-area.section-gap {
                background-color: #37b3c5;
            }

            .courses-area.section-gap h1 {
                margin: 5px;
            }

            /* #btnCreateClass:hover {
                background: linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
            }
             */
        </style>
</head>

<body>

    <!-- Start Header Area -->
    <%- include('./partial/header.ejs')%>
        <!-- End Header Area -->

        <section class="courses-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>
                            You are a student
                        </h1>
                        <div class="courses-right">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <ul class="courses-list student-list">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h1>
                            You are a teacher
                        </h1>
                        <div class="courses-right">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <ul class="courses-list teacher-list">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 text-center">
                        <button id="btnCreateClass" class="btn btn-default" style="background-color: #f7fafc; margin: 15px">
                            Tạo lớp học mới
                        </button>
                    </div>
                </div>
            </div>
            <div id="mdCreateClass" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div style="width: 50%" class="modal-dialog modal-lg ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thêm lớp mới</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="mdAddDocumenttxtDocId" value="">
                            <div class="form-group">
                                <label for="">Tiêu đề</label>
                                <input id="mdTxtName" type="text" class="form-control" id="" aria-describedby="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Mô tả</label>
                                <input id="mdTxtDes" type="text" class="form-control" id="" aria-describedby="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Lớp học mở: </label>
                                <input id="mdToggleIsPublic" type="checkbox" checked data-toggle="toggle" data-onstyle="primary">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button id="mdCreateClassBtnAdd" type="button" class="btn btn-primary">Thêm lớp mới</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('./partial/footer.ejs')%>

            <script>
                var userInfo = {
                    id: '<%= user._id %>',
                };
            </script>

            <script>

                function getClassList() {
                    $.ajax({
                        type: "GET",
                        url: '/classes/list',
                        success: function (data) {
                            if (data.status && data.status == 200) {

                                let students = [];
                                let teachers = [];

                                for (let item of data.data) {
                                    if (item.createdBy == userInfo.id)
                                        teachers.push(item);
                                    else
                                        students.push(item);
                                }

                                $('.student-list').html('');
                                $('.teacher-list').html('');

                                for (let item of students) {

                                    $('.student-list').append(`
                                        <li>
                                            <a class="wow fadeInLeft" href="/classes/${item._id}" data-wow-duration="1s" data-wow-delay=".1s">
                                                <i class="fa fa-book"></i> ${item.name}
                                            </a>
                                        </li>`
                                    );
                                }

                                for (let item of teachers) {
                                    $('.teacher-list').append(`
                                        <li>
                                            <a class="wow fadeInLeft" href="/classes/${item._id}" data-wow-duration="1s" data-wow-delay=".1s">
                                                <i class="fa fa-book"></i> ${item.name}
                                            </a>
                                        </li>`
                                    );
                                }

                                // $('#mdAddDocument').modal('hide');
                            } else {
                                toastr.error('Có lỗi trong quá trình xử lý yêu cầu!');
                            }
                        },
                        error: function () {
                            toastr.error('Có lỗi trong quá trình xử lý yêu cầu!');
                        },
                        dataType: 'json'
                    });
                }

                function configAddClass() {
                    const btnCreate = $('#btnCreateClass');
                    const mdCreate = $('#mdCreateClass');
                    const mdCreateClassBtnAdd = $('#mdCreateClassBtnAdd');

                    function createClass() {
                        function validate() {
                            const name = $('#mdTxtName').val();
                            const des = $('#mdTxtDes').val();

                            if (name.trim() == '' || des.trim() == '') {
                                toastr.error('Bạn chưa điền đầy đủ thông tin!');
                                return false;
                            }

                            return true;
                        }

                        if (validate()) {

                            const name = $('#mdTxtName').val();
                            const des = $('#mdTxtDes').val();
                            const type = $('#mdToggleIsPublic').prop('checked') ? 'public' : 'private';

                            $.ajax({
                                type: "POST",
                                url: '/classes',
                                data: {
                                    name, des, type
                                },
                                success: function (data) {
                                    if (data.status === 200) {
                                        toastr.success('Thêm lớp mới thành công!');
                                        getClassList();
                                        mdCreate.modal('hide');
                                    }
                                    else {
                                        toastr.error(data.msg);
                                    }
                                },
                                error: function (error) {
                                    toastr.error('Có lỗi trong quá trình thực hiện yêu cầu của bạn!');
                                }
                            });
                        }
                    }

                    btnCreate.click(function () {
                        mdCreate.modal('show');
                    });

                    mdCreateClassBtnAdd.click(function () {
                        createClass();
                    });

                }

                configAddClass();
                getClassList();
            </script>
</body>

</html