<!-- Start Footer Area -->


<div class="footer">
    <footer class="footer-area section-gap " style="padding: 15px">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 single-footer-widget">
                <h4>About</h4>
                <ul>
                    <li><a href="#">Bùi Thiện Quyết</a></li>
                    <li><a href="#">KTPM6 - K10</a></li>
                    <li><a href="#">Hanoi University Of Industry</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 single-footer-widget">
                <h4>Newsletter</h4>
                <p>Luôn luôn nhận thông tin mới nhất qua email,</p>
                <div class="form-wrap" id="mc_embed_signup">
                    <form target="_blank" action="" method="get" class="form-inline">
                        <input class="form-control" name="EMAIL" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required="" type="email">
                        <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="" tabindex="-1" value="" type="text">
                        </div>

                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer-bottom row align-items-center" style="margin-top: 0px">
            <p class="footer-text m-0 col-lg-8 col-md-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright © 2019 All rights reserved | This is made with <i class="fa fa-heart-o" aria-hidden="true"></i>
                by <a href="" target="_blank">BTQ</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-md-12 footer-social">
                <a href="https://fb.com/bui.thien.quyet"><i class="fa fa-facebook"></i></a>
            </div>
        </div>

    </div>
</footer>
</div>
<!-- End Footer Area -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
    <a title="Go to Top" href="#"></a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->

<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/popper.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- <script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
              crossorigin="anonymous"></script> -->

<script>
    $.fn.modal.Constructor.prototype.enforceFocus = function () {
        var $modalElement = this.$element;
        $(document).on('focusin.modal', function (e) {
            var $parent = $(e.target.parentNode);
            if ($modalElement[0] !== e.target
                && !$modalElement.has(e.target).length
                && $(e.target).parentsUntil('*[role="dialog"]').length === 0) {
                $modalElement.focus();
            }
        });
    };
</script>

<script src="/js/vendor/toastr.js"></script>

<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "6000",
        "extendedTimeOut": "6000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

</script>
<script src="/js/vendor/bootstrap-toggle.min.js"></script>
<script src="/js/vendor/select2.min.js"></script>
<script src="/js/main.js"></script>

<!-- <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/owl-carousel-thumb.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script> -->