<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/"><img width="54px" src="/img/logo.png" alt="" title="" /></a>
                <span style="color: white">ONLINE ENGLISH LEANER</span>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Trang chủ</a></li>
                    <li><a href="/about.html">Giới thiệu</a></li>
                    <li><a href="/classes">Lớp học</a></li>

                    <% if (user) {%>

                        <li class="dropdown user user-menu">
                            <a href="../#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/img/avatars/btq.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs"> <%=user.lastName +' '+user.firstName %> </span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/img/avatars/btq.jpg" class="img-circle" alt="User Image">
                                    <p style="color: black">
                                        <%=user.lastName +' '+user.firstName %>
                                            <small> <%=user.phoneNumber%> </small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="../#" class="btn btn-default btn-flat">Hồ sơ</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/logout" class="btn btn-default btn-flat">Đăng xuất</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <%} else {%>

                            <li><a href="/login.html">Đăng nhập</a></li>

                            <%}%>



                </ul>


            </nav>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header>